#container {
  width: 400px;
  margin: auto;
  background-color: #d3d3d3;
}

.box {
  display: inline-block;
  width: 100px;
  height: 100px;
  margin: 10px;
  background-color: #6495ed;
  color: #fff;
  text-align: center;
  line-height: 100px;
}
